<%= form_for @piece do |f| %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name  %>
  </p>

  <p>
  <%= f.label :profile %>
  <%= f.text_area :profile %>
  </p>

  <p>
  <%= f.submit %>
  </p>

<%end%>
