<% if @gallery.errors.any? %>
<ul>
    <% @gallery.errors.full_messages.each do |err|%>
    <li> <%=err%></li>
    <%end%>

</ul>
<% end %>

  <h2> <%= "#{@gallery.gallery_name}" %></h2>
  <h3> <%= "#{@gallery.description}" %></h3>

    <p id="gallery-info"> <%= "#{@user.name} | #{@user.contact_info}" %></p>



    <%= form_for @gallery do |f| %>

      <%= f.label :gallery_name %>
      <%= f.text_field :gallery_name  %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.submit %>

    <%end%>
