<h2><%=@artist.name%></h2>
<h2><%=@artist.bio%></h2>
<h2><%=@artist.prof_pic%></h2>
<h2><%=@artist.contact_info%></h2>

<% @galleries.each do |gallery| %>
  <h1><%= link_to "#{gallery.gallery_name}", gallery_path(gallery.id) %></h2>
  <% gallery.pieces.all.each do |piece| %>
  <p><%= link_to "#{piece.piece_name}", piece_path(piece.id) %></p>
  <%end%>
<% end %>
